/*
* General setup 
*/

* {
  box-sizing: border-box;
}

html {
  /* Fonts */
  --header-font: "Roboto Condensed", Sans-Serif;
  --body-font: "Open Sans", sans-serif;
  /* Dark Colors */
  --primary-color: linear-gradient(45deg, #1b1a19, #201f1d); /* Dark gray */
  --background-color: #0f0e0e; /* Almost black */
  --button-color: linear-gradient(
    45deg,
    transparent,
    #29339b,
    #29339b
  ); /* Blue */
  --highlight-color: #e54b4b; /* Dark red */
  /* Light Colors */
  --secondary-highlight-color: #faf3e0; /* Almost white */
  /* Spacing */
  --general-padding: 0.25rem 0;
}

body {
  font-family: var(--body-font);
  background: var(--background-color);
  color: var(--secondary-highlight-color);
  padding: 0;
  margin: 0;
}

html,
body,
header {
  height: 100%;
}

section {
  padding: 5vh 12%;
}

section:first-child {
  padding: 0 12% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  color: var(--highlight-color);
  padding: var(--general-padding);
}

h1 {
  line-height: 0.9;
  font-size: 4rem;
}

h2 {
  border-bottom: 2px dashed var(--secondary-highlight-color);
  font-size: 1.8rem;
  text-align: center;
  margin: 5vh 0;
}

h3,
h4 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 1.75rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  display: inline-block;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.active {
  display: flex !important;
  flex-flow: column;
  justify-content: center;
}

.inactive {
  display: none !important;
}

/* Scrollbar styles */

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*
* Nav section 
*/

nav,
#desktop-nav {
  position: relative;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Desktop nav */

nav ul {
  padding: 0;
  margin: 0;
}

#desktop-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--background-color);
  border-bottom: 4px solid var(--highlight-color);
  padding: 2vh 12%;
  opacity: 0.97;
}

#desktop-nav > li {
  width: 100%;
}

#desktop-nav li:first-child,
#desktop-nav ul {
  display: flex;
}

#desktop-nav > li:first-child {
  justify-content: start;
}

.nav-internal-links {
  justify-content: center;
}

.nav-external-links {
  justify-content: end;
}

.nav-internal-links,
.nav-external-links {
  gap: 30px;
}

nav a,
footer a {
  text-decoration: none;
  color: var(--secondary-highlight-color);
  transition: color 1s;
  border-bottom: 3px solid transparent;
  padding: 2px 0;
  font-size: 20px;
  position: relative;
  text-align: center;
}

nav a:hover,
footer a:hover {
  color: var(--highlight-color);
  border-bottom: 3px solid var(--secondary-highlight-color);
}

.nav-logo a:hover {
  text-transform: uppercase;
}

/*
* Mobile nav 
*/

/* Ham Menu */

.hamburger-menu {
  display: none;
  background-color: var(--background-color);
  opacity: 0.98;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  z-index: 999;
}

.hamburger-menu > span {
  display: block;
  width: 33px;
  height: 2.7px;
  background-color: var(--highlight-color);
  margin: 0.3rem 0;
  position: relative;
  z-index: 99;
}

/* Hamburger menu animation */

.ham-top-expanded {
  transform: translatey(0.5rem) rotate(45deg);
}

.ham-bottom-expanded {
  transform: translatey(-0.40625rem) rotate(-45deg);
}

.ham-top-expanded,
.ham-bottom-expanded {
  transition: all 1s;
}

.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

#nav-links-mobile {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: rgba(44, 44, 44, 0.98);
}

#nav-links-mobile a {
  color: #fff;
  font-size: 2rem;
}

#nav-links-mobile a:hover {
  border-bottom: 3px solid var(--highlight-color);
}

#nav-links-mobile li {
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 0;
}

/* 
* About section 
*/

#about {
  height: 100%;
}

.about-container {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* About card */

.about-top-card {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
  align-items: center;
}

.about-top-card > div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* Banner img */

.img-wrapper,
.img-wrapper > img {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 20vw;
  height: 20vw;
  min-height: 150px;
  min-width: 150px;
  max-height: 175px;
  max-width: 175px;
}

.img-wrapper > img {
  object-fit: cover;
}

.img-wrapper button {
  background: var(--button-color);
  color: #fff;
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  padding: 0.75rem 0;
  padding-bottom: 1.6rem;
  border-radius: 75% 0 0 0;
  transition: all 0.5s ease-in;
  opacity: 0.99;
}

.img-wrapper button:hover {
  border-radius: 0;
  transform: scale(1.1);
}

#about h1,
#about p {
  margin: 0;
}

.about-links {
  display: flex;
  gap: 15px;
  margin-top: 0.8rem;
  margin-bottom: 1%;
}

/* Button styling */

.button {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  background-color: var(--background-color);
  border: 2px solid #fff;
  border-radius: 50px;
  opacity: 0.99;
  width: 7rem;
  padding: 0.5rem 0.25rem;
  transition: all 0.8s;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}

/* Button shadow-pop animation */

.button:hover {
  -webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e,
      4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e,
      8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

/* About text section */

.about-text > div:first-child {
  display: flex;
  align-items: start;
  gap: 1%;
}

.about-text > div:first-child,
.about-lower-card {
  padding: 10px 1rem !important;
}

.main-greeting {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.about-lower-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
}

.about-lower-card i {
  background: #fff;
  color: #000;
  border-radius: 50%;
  padding: 5px;
  font-size: 18px;
  margin-top: 7px;
  margin-right: 1.5vw;
  transition: 0.25s all ease-in;
}

.about-lower-card i:hover {
  color: var(--highlight-color);
}

.about-lower-card li {
  list-style-type: circle;
}

.about-main-header,
.about-card-contact {
  padding-top: 0.5rem;
  border-top: 5px solid #fff;
}

.about-main-text {
  padding-left: 40px;
}

.projects-link-card li {
  display: flex;
  align-items: flex-start;
  margin: 1rem 0;
}

#about-me-button-close {
  border-radius: 5px;
}

#about-me-button-close > i:hover {
  color: var(--highlight-color);
}

/* Animation for about-text entrance */

.unhidden {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* Falling stars animation */

#falling-stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 90%;
}

.star {
  height: 1px;
  width: 1px;
  position: absolute;
  animation: fallingStars 5s infinite linear;
}

#line-1 {
  animation-delay: 0.3s;
  left: 66%;
}

#line-2 {
  animation-delay: 1.1s;
  left: 55%;
}

#line-3 {
  animation-delay: 1.8s;
  left: 75%;
}

#line-4 {
  animation-delay: 2.7s;
  left: 86%;
}

#line-5 {
  animation-delay: 3.3s;
  left: 30%;
}

#line-6 {
  animation-delay: 5s;
  left: 29%;
}

#line-7 {
  animation-delay: 0.2s;
  left: 40%;
}

#line-8 {
  animation-delay: 1.1s;
  left: 70%;
}

#line-9 {
  animation-delay: 2.2s;
  left: 50%;
}

#line-10 {
  animation-delay: 3.09s;
  left: 92%;
}

#line-11 {
  animation-delay: 3.76s;
  left: 56%;
}

#line-12 {
  animation-delay: 0.2s;
  left: 32%;
}

#line-13 {
  animation-delay: 1.1s;
  left: 96%;
}

#line-14 {
  animation-delay: 2.75s;
  left: 33%;
}

#line-15 {
  animation-delay: 3.33s;
  left: 48%;
}

#line-15 {
  animation-delay: 4.9s;
  left: 12%;
}

#line-16 {
  animation-delay: 0.62s;
  left: 87%;
}

#line-17 {
  animation-delay: 1.9s;
  left: 66%;
}

#line-18 {
  animation-delay: 2.3s;
  left: 49%;
}

#line-19 {
  animation-delay: 3.65s;
  left: 44%;
}

#line-20 {
  animation-delay: 4.22s;
  left: 22%;
}

#line-21 {
  animation-delay: 0.18s;
  left: 9%;
}

#line-22 {
  animation-delay: 0.54s;
  left: 67%;
}

#line-23 {
  animation-delay: 2.26s;
  left: 94%;
}

#line-24 {
  animation-delay: 3.9;
  left: 18%;
}

#line-25 {
  animation-delay: 4;
  left: 62%;
}

#line-26 {
  animation-delay: 0.88s;
  left: 34%;
}

#line-27 {
  animation-delay: 5.9s;
  left: 55%;
}

#line-28 {
  animation-delay: 7.3s;
  left: 77%;
}

#line-29 {
  animation-delay: 6.2s;
  left: 17%;
}

#line-30 {
  animation-delay: 3.9s;
  left: 4%;
}

@keyframes fallingStars {
  0% {
    top: 10%;
    background-color: var(--primary-color);
  }
  10% {
    background-color: var(--primary-color);
  }
  20% {
    background-color: #faf3e0;
  }
  30% {
    background-color: var(--primary-color);
  }
  40% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: #faf3e0;
  }
  60% {
    background-color: #faf3e0;
  }
  70% {
    background-color: var(--primary-color);
  }
  80% {
    background-color: var(--background-color);
  }
  90% {
    background-color: #faf3e0;
  }
  100% {
    top: 90%;
    background-color: var(--background-color);
  }
}

/*
* Projects section 
*/

#projects {
  padding-top: 8vh !important;
}

/* Project top card */

.project-carousel-top {
  display: flex;
  justify-content: center;
  position: relative;
}

.project-summary,
.project-carousel img {
  border-radius: 20px;
}

.arrows {
  position: absolute;
  display: block;
  width: 45%;
  top: 0;
  background: #333;
  opacity: 0.95;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  gap: 5%;
  border-radius: 0 0 5px 5px;
}

.arrows > button {
  background-color: transparent;
}

.arrows i {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #000;
  color: #faf3e0;
  border-radius: 5px;
}

.arrows i:hover {
  color: var(--highlight-color);
  box-shadow: 0 5px 10px #333;
  transform: scale(1.05);
  background-color: #222;
}

.project-carousel {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
}

.project-carousel img {
  display: block;
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

/* Project summary text */

.project-summary {
  background: #222;
  color: #fff;
  padding: 0.5rem 1rem;
}

.project-summary-text ul {
  padding-left: 2rem;
}

.project-summary-text ul > li {
  padding: 0.25rem 0;
  list-style-type: circle;
}

.project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  padding: 0.75rem 0;
}

.project-button {
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

/* 
* Tech stack section 
*/

#tech-stack {
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 5vw;
  padding: 2vh;
  border: 5px solid #333;
}

.skills-container i {
  margin-right: 1%;
  text-align: center;
}

.tech-card {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* Tech stack animations */

.fa-html5 {
  animation: changeSkillColor 18s infinite;
}

.fa-css3-alt {
  animation: changeSkillColor 18s 3s infinite;
}

.fa-js {
  animation: changeSkillColor 18s 6s infinite;
}

.fa-git {
  animation: changeSkillColor 18s 9s infinite;
}

.github-animation {
  animation: changeSkillColor 18s 12s infinite;
}

.fa-figma {
  animation: changeSkillColor 18s 15s infinite;
}

@keyframes changeSkillColor {
  12% {
    color: var(--highlight-color);
  }
}

/*
* Contact form section 
*/

#contact form {
  margin-top: 3%;
}

#contact legend {
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

#contact fieldset {
  padding: 1rem 5%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  border-radius: 5px;
  border: none;
}

#contact input {
  max-width: 500px;
}

#contact textarea {
  max-width: 550px;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 0.75rem;
}

#contact input,
#contact label,
#contact textarea {
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 12px;
  display: block;
}

.contact-button {
  margin-top: 3%;
  font-size: 0.8rem;
}

/*
* Footer section 
*/

footer {
  background: #1a1a1a;
  padding: 0.5rem 0;
  opacity: 0.95;
  display: flex;
  justify-content: center;
}

#footer-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  transition: all 0.5s;
}

footer i {
  font-size: 20px;
}

/* 
 * Media Queries
 */

@media only screen and (min-width: 1275px) {
  nav,
  #desktop-nav {
    padding: 0.4rem 17%;
  }
  .minimal-padding {
    padding: 7vh 20%;
  }
  #contact fieldset {
    width: 80%;
  }
  #contact input,
  #contact textarea {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .project-carousel {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1175px) {
  html {
    font-size: 0.97rem;
  }
  section {
    padding: 7vh 10%;
  }
  section:first-child {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 800px) {
  .about-top-card {
    flex-flow: column-reverse;
    text-align: center;
  }
  .about-links {
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 0.95rem;
  }
  nav {
    padding: 0.4rem 10%;
  }
  .minimal-padding {
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
  section {
    padding: 7vh 10%;
  }
  section:first-child {
    padding: 0 10%;
  }
  .hamburger-menu {
    display: block;
  }
  #desktop-nav {
    display: none;
  }
  .about-container {
    margin: 0;
  }
  .about-lower-card {
    grid-template-columns: 1fr;
  }
  .main-greeting {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 0.8rem;
  }
  nav {
    padding: 0.4rem 5%;
  }
  section {
    padding: 5vh 5%;
  }
  section:first-child {
    padding: 0 5% !important;
  }
  .minimal-padding {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

