/* General setup */

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 100%;
  --header-font: 'Roboto Condensed', Sans-Serif;
  --body-font: 'Cabin', Sans-Serif;
  --primary-color: rgb(21, 20, 48); /* Navy blue */
  --attention-color: rgb(167, 45, 36); /* Red */
}

body {
  font-family: var(--body-font);
  background-color: #111117;
  color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

.inactive {
  display: none;
}

/* Nav section */

nav {
  background: var(--primary-color);
  padding: 0 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: .95;
}

#nav-logo {
  font-family: var(--header-font);
  font-size: 2rem;
  width: calc(100% / 3);
}

#nav-logo a:hover {
  text-transform: uppercase;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: all 1s;
  animation: none;
}

nav a:hover {
  color: goldenrod;
}

#nav-links {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
  width: calc(100% / 3);
  font-size: 1.2rem;
}

#contact-links {
  display: flex;
  justify-content: flex-end;
  gap: 0 2rem;
  width: calc(100% / 3);
}

/* Building hamburger menu */

#hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-item {
  width: 25px;
  height: 2.5px;
  background-color: #fff;
  margin: .25rem 0;
}

/* Hamburger menu animation */

.ham-top-inactive {
  transition: all 1s;
  transform: translatey(.40625rem);
}

.ham-bottom-inactive {
  transition: all 1s;
  transform: translatey(-.40625rem);
}

/* To make hamburger menu show on screens 700px or smaller */

@media only screen and (max-width: 700px) {
  #hamburger-menu {
    display: block;
  }
  #nav-links {
    display: none;
  }
  #contact-links {
    display: none;
  }
  #about-container a {
  margin-top: 6vw;
  }
  nav {
    padding: 0 6%;
  }
}

#nav-links-mobile {
  display: none;
  width: 100%;
  position: absolute;
  top: 2.3rem;
  left: 0;
  padding: 1rem;
  background-color: #2C43B8; /* Light blue */
  margin-top: 0;
}

#nav-links-mobile li {
  margin: 4% 0;
}

/* About section */

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 0 12%;
}

#about-img {
  width: 40vw;
  max-width: 195px;
  border-radius: 50%;
  position: relative;
}

#about-img > img {
  width: 100%;
  border-radius: 50%;
  position: relative;
}

.button {
  position: relative;
  padding: .5rem;
  transition: .5s;
  margin-top: .5rem;
  font-size: 1.1rem;
  background-color: #111117;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

#about-me-button:hover {
  background-color: var(--attention-color);
  color: #fff;
}

#about-me-button-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2%;
  border: none;
}

#about-me-button-close:hover {
  background-color: #aaa;
  color: #eee;
}

#about h1, 
#about p {
  margin: .05rem 0;
}

#about h1 {
  font-size: 3rem;
}

#about-container {
  font-size: 1.3rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

/* CTA button */

.cta-button {
  text-decoration: none;
  color: #fff;
  padding: .4rem 1rem;
  border: 1.5px solid var(--attention-color);
  box-shadow: 6px 6px 2px #fff;
  transition: all 1s;
  margin: 2vw;
}

.cta-button:hover {
  background: var(--attention-color);
  color: #fff;
  box-shadow: 0 0 white;
}

#background-divider {
  position: absolute;
  top: 0;
  color: #111;
  height: 50vh;
  z-index: 1;
}

#background-divider > p {
  margin-bottom: 3%;
}

#background-divider > ul {
  margin-left: 1.2rem;
}

@media only screen and (max-width: 650px) {
  html {
    font-size: .97rem;
  }
  #about h1 {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 380px) {
  .cta-button {
    font-size: .98rem;
  }
}

.unhidden-large {
  animation: rotateInLarge 1s ease-in forwards;
}

.unhidden-small {
  animation: rotateInSmall 1s ease-in forwards;
}

@keyframes rotateInLarge {
  0% {
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: rotate(50deg);
  }
  40% {
    transform: rotate(25deg);
    width: 65%;
    height: auto;
    position: relative;
    padding: 1rem;
    margin: 0 5%;
    transition: all 3s;
  }
  100% {
    transform: rotate(0);
    width: 65%;
    height: auto;
    position: relative;
    padding: 1rem;
    margin: 0 5%;
    transition: all 3s;
    color: #fff;
    box-shadow: 10px 10px 2px #fff;
  }
}

@keyframes rotateInSmall {
  0% {
    transform: rotate(-45deg);
    width: 85%;
    position: relative;
  }
  80% {
    transform: rotate(0);
    width: 85%;
    height: auto;
    position: relative;
    color: #fff;
    box-shadow: none;
  }
  100% {
    transform: rotate(0);
    width: 85%;
    height: auto;
    position: relative;
    color: #fff;
    box-shadow: none;
    padding-top: 1rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

@media only screen and (max-width: 1100px) {
  #about {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  #background-divider {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 650px) {
  #background-divider {
    width: 100%;
    margin: 0 !important;
  }
}

/* Projects section */

#projects {
  background: linear-gradient(45deg, #000, #030303);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  padding: 5%;
  text-align: center;
  z-index: 2;
  margin-top: 0;
  height: 100vh;
}

#projects h2 {
  margin-bottom: 3rem auto;
  text-decoration: underline #fff;
  display: block;
}

#project-carousel {
  height: 50vh;
  width: 50%;
  background-color: #fff;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  #project-carousel {
  height: 40vh;
  width: 60%;
  }
}

@media only screen and (max-width: 650px) {
  #project-carousel {
  width: 100%;
  }
}

/* Tech stack section */

#tech-stacks > h2 {
  color: #fff;
}


#skills-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 5%;
  color: #e77224; /* Gold */
}

#skills-container  i {
  margin-right: 5%;
  margin-bottom: 1rem;
  width: 50px;
  text-align: center;
}

.tech-card {
  display: flex;
  align-items: center;
}

/* Skills animations */

.fa-html5 {
  animation: changeSkillColor 18s infinite;
}

.fa-css3-alt {
  animation: changeSkillColor 18s 3s infinite;
}

.fa-js {
  animation: changeSkillColor 18s 6s infinite;
}

.fa-git {
  animation: changeSkillColor 18s 9s infinite;
}

.fa-github {
  animation: changeSkillColor 18s 12s infinite;
}

.fa-figma {
  animation: changeSkillColor 18s 15s infinite;
}

@keyframes changeSkillColor {
  12% {
    color: white;
  }
}

/* Footer section */

footer {
  background: var(--primary-color);
  padding: .5rem 5%;
  opacity: .95;
}

footer a {
  animation: none;
  color: white;
}

footer li {
  list-style-type: none;
}

#footer-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .8rem;
}

#footer-contact a {
  animation: none;
}

#footer-contact a:hover {
  color: goldenrod;
  animation: none;
}