/* General setup */

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 100%;
  --header-font: 'Roboto Condensed', Sans-Serif;
  --body-font: 'Cabin', Sans-Serif;
  --primary-color: rgb(21, 20, 48); /* Navy blue */
  --secondary-color: #e57022; /* Gold */
  --button-color: #ca6011;
}

body {
  font-family: var(--body-font);
  background-color: #111117;
  color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  color: var(--secondary-color);
}

.inactive {
  display: none;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Nav section */

nav {
  background: var(--primary-color);
  padding: 0 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: .95;
}

#nav-logo {
  font-family: var(--header-font);
  font-size: 2rem;
  width: calc(100% / 3);
}

#nav-logo a:hover {
  text-transform: uppercase;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: all 1s;
}

nav a:hover {
  color: var(--secondary-color);
}

#nav-links {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
  width: calc(100% / 3);
  font-size: 1.4rem;
}

#contact-links {
  display: flex;
  justify-content: flex-end;
  gap: 0 2rem;
  width: calc(100% / 3);
}

/* Hamburger menu */

#hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-item {
  width: 25px;
  height: 2.5px;
  background-color: #fff;
  margin: .25rem 0;
}

/* Hamburger menu animation */

.ham-top-inactive {
  transition: all 1s;
  transform: translatey(.40625rem);
}

.ham-bottom-inactive {
  transition: all 1s;
  transform: translatey(-.40625rem);
}

/* Makes hamburger menu only show on screens 700px or smaller & hides desktop nav & contact links */

@media only screen and (max-width: 700px) {
  #hamburger-menu {
    display: block;
  }
  #nav-links {
    display: none;
  }
  #contact-links {
    display: none;
  }
  nav {
    padding: 0 6%;
  }
}

#nav-links-mobile {
  display: none;
  width: 100%;
  position: absolute;
  top: 2.3rem;
  left: 0;
  padding: .5rem 1rem;
  background-color: #2C43B8; /* Light blue */
  margin-top: 0;
}

#nav-links-mobile li {
  margin: 4% 0;
}

/* About section */

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 0 12%;
}

#about-img {
  width: 40vw;
  max-width: 195px;
  position: relative;
}

#about-img > img {
  width: 100%;
  border-radius: 50%;
  position: relative;
}

#about-links {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin: 1rem 0;
}

.button {
  curson: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  background-color: transparent;
  width: 7rem;
  padding: .25rem;
  border: 1.5px solid var(--button-color);
  box-shadow: 6px 6px 2px #fff;
  transition: all 1s;
  text-align: center;
}

.reverse-button {
  box-shadow: -6px 6px 2px #fff;
}

.button:hover {
  background: var(--button-color);
  box-shadow: 0 0 white;
}

#about-me-button-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2%;
  border: none;
}

#about-me-button-close:hover {
  background-color: #999;
  color: #eee;
}

#about h1, 
#about p {
  margin: .05rem 0;
}

#about h1 {
  font-size: 3rem;
}

#about-container {
  font-size: 1.3rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

#about-text {
  position: absolute;
  top: 0;
  color: #111;
  height: 50vh;
  z-index: 1;
}

#about-text > p {
  margin-bottom: 3%;
}

#about-text > ul {
  margin-left: 1.2rem;
}

@media only screen and (max-width: 650px) {
  html {
    font-size: .97rem;
  }
  #about h1 {
    font-size: 2.4rem;
  }
}

.unhidden-large {
  animation: rotateInLarge 1s ease-in forwards;
}

.unhidden-small {
  animation: rotateInSmall 1s ease-in forwards;
}

/* Animations for about-text */

@keyframes rotateInLarge {
  0% {
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: rotate(50deg);
  }
  40% {
    transform: rotate(25deg);
    width: 65%;
    height: auto;
    position: relative;
    padding: 1rem;
    margin: 0 5%;
    transition: all 3s;
  }
  100% {
    transform: rotate(0);
    width: 65%;
    height: auto;
    position: relative;
    padding: 1rem;
    margin: 0 2%;
    transition: all 3s;
    color: #fff;
    box-shadow: 10px 10px 2px #fff;
  }
}

@keyframes rotateInSmall {
  0% {
    transform: rotate(-45deg);
    width: 85%;
    position: relative;
  }
  80% {
    transform: rotate(0);
    width: 85%;
    height: auto;
    position: relative;
    color: #fff;
    box-shadow: none;
  }
  100% {
    transform: rotate(0);
    width: 85%;
    height: auto;
    position: relative;
    color: #fff;
    box-shadow: none;
    padding: 1.25rem 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

@media only screen and (max-width: 1100px) {
  #about {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

/* Projects section */

#projects {
  background: linear-gradient(45deg, #080808, #111);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  padding: 0 12%;
  text-align: center;
  z-index: 2;
  margin-top: 0;
  height: 100vh;
  border-radius: 20px 20px 0 0;
  border-top: 1px solid #999;
}

#projects h2 {
  margin-top: .5rem;
  border-bottom: 10px solid #999;
  font-size: 2rem;
}

#projects-container > i {
  padding: .3rem 1rem;
  cursor: pointer;
  transition: all .5s;
}

#projects-container > i:hover {
  color: var(--secondary-color);
  transform: scale(1.2);
}

#project-carousel {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

#project-carousel > iframe {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

#project-summary {
  text-align: left;
  margin: 0;
  padding: 4%;
  background-color: transparent;
  color: white;
}

#project-summary > a {
  padding: .5rem;
  font-size: 1.1rem;
  margin-right: 1rem;
}

#project-summary p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 700px) {
  #projects {
    padding: 0 6%;
  }
  #project-summary {
    padding: 6%;
  }
}

/* Tech stack section */

#tech-stack {
  text-align: center;
  padding: 0 12%;
}

#tech-stack h3 {
  margin-bottom: 0rem;
  border-bottom: 5px solid #999;
}

#skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 5%;
  padding-top: 2.5vh;
  padding-bottom: 5vh;
}

#skills-container  i {
  margin-right: 1%;
  text-align: center;
}

.tech-card {
  display: flex;
  align-items: center;
  gap: .2rem;
}

/* Skills animations */

.fa-html5 {
  animation: changeSkillColor 18s infinite;
}

.fa-css3-alt {
  animation: changeSkillColor 18s 3s infinite;
}

.fa-js {
  animation: changeSkillColor 18s 6s infinite;
}

.fa-git {
  animation: changeSkillColor 18s 9s infinite;
}

.github-animation {
  animation: changeSkillColor 18s 12s infinite;
}

.fa-figma {
  animation: changeSkillColor 18s 15s infinite;
}

@keyframes changeSkillColor {
  12% {
    color: var(--secondary-color);
  }
}

/* Footer section */

footer {
  background: #000;
  padding: .08rem 0;
  opacity: .95;
  display: flex;
  justify-content: center;
}

footer a {
  animation: none;
  color: white;
}

footer li {
  list-style-type: none;
}

#footer-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

#footer-contact a:hover {
  color: var(--secondary-color);
}
