/* General setup */

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 100%;
  --header-font: 'Roboto Condensed', Sans-Serif;
  --body-font: 'Cabin', Sans-Serif;
  --primary-color: #082032; 
  --hero-color: #0F0E0E; 
  --sub-section-color: #EEEEEE;
  --secondary-color: var(--primary-color);
  --button-color: var(--primary-color);
  --sub-section-header-color: #FAF3E0;
  --highlight-color: #F0A500;
}

body {
  font-family: var(--body-font);
  background-color: var(--hero-color);
  margin: 0;
  color: #FAF3E0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  color: var(--secondary-color);
}

h3 {
  margin-bottom: 0rem;
  border-bottom: 5px solid #999;
  color: var(--highlight-color);
  text-align: center;
}

.inactive {
  display: none;
}

button {
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

section {
  padding: 0 12%;
}

/* Nav section */

nav {
  background: var(--primary-color);
  padding: 0 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: .95;
}

#nav-logo {
  font-family: var(--header-font);
  font-size: 1.3rem;
  width: calc(100% / 3);
}

#nav-logo a:hover {
  text-transform: uppercase;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #FAF3E0;
  transition: all 1s;
}

nav a:hover {
  color: var(--highlight-color);
}

#nav-links {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
  width: calc(100% / 3);
  font-size: 1rem;
}

#contact-links {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
  width: calc(100% / 3);
}

/* Hamburger menu */

#hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-item {
  width: 25px;
  height: 2.5px;
  background-color: #FAF3E0;
  margin: .25rem 0;
}

/* Hamburger menu animation */

.ham-top-inactive {
  transition: all 1s;
  transform: translatey(.40625rem);
}

.ham-bottom-inactive {
  transition: all 1s;
  transform: translatey(-.40625rem);
}

/* Makes hamburger menu only show on screens 825px or smaller & hides desktop nav & contact links */

@media only screen and (max-width: 825px) {
  #hamburger-menu {
    display: block;
  }
  #nav-links {
    display: none;
  }
  #contact-links {
    display: none;
  }
}

#nav-links-mobile {
  display: none;
  width: 100%;
  position: absolute;
  top: 2.25rem;
  left: 0;
  padding: .5rem 1rem;
  background-color: var(--sub-section-color);
  margin-top: 0;
}

#nav-links-mobile a {
  color: #333;
}

#nav-links-mobile a:hover {
  color: var(--highlight-color);
}

#nav-links-mobile li {
  margin: 4% 0;
}

/* About section */

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

#about-img {
  width: 40vw;
  max-width: 195px;
  position: relative;
  background-color: var(--highlight-color);
  border-radius: 50%;
}

#about-img > img {
  width: 100%;
  border-radius: 50%;
  position: relative;
  opacity: .99;
}

#about-links {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin: 1rem 0;
}

.button {
  curson: pointer;
  text-decoration: none;
  color: #FAF3E0;
  font-size: 1.4rem;
  background-color: var(--hero-color);
  opacity: .95;
  width: 7rem;
  padding: .25rem;
  border: 1.5px solid var(--highlight-color);
  box-shadow: 6px 6px 2px #FAF3E0;
  transition: all .7s;
  text-align: center;
  position: relative;
}

.reverse-button {
  box-shadow: -6px 6px 2px #FAF3E0;
}

.button:hover {
  background: var(--highlight-color);
  box-shadow: 0 0 white;
  color: #0F0E0E;
}

.left:hover {
  top: 4px;
  left: 4px;
}

.right:hover {
  top: 4px;
  right: 4px;
}

#about-me-button-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .4rem;
  border: none;
}

#about-me-button-close:hover {
  background-color: var(--primary-color);
  color: #FAF3E0;
}

#about h1, 
#about p {
  margin: .05rem 0;
}

#about h1 {
  font-size: 3.7rem !important;
  color: var(--highlight-color);
}

#about-container {
  font-size: 1.3rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

#about-text {
  position: absolute;
  right: 0;
  z-index: 1;
  color: #FAF3E0;
  background-color: var(--hero-color);
  opacity: .95;
}

#about-text > p {
  margin-bottom: 3%;
}

#about-text > ul {
  margin-left: 1.2rem;
}

@media only screen and (max-width: 1175px) {
  html {
    font-size: .97rem;
  }
}

.unhidden-large {
  animation: rotateInLarge 1s ease-in forwards;
}

.unhidden-small {
  animation: rotateInSmall 1s ease-in forwards;
}

/* Animations for about-text */

@keyframes rotateInLarge {
  0% {
    width: 65%;
    transform: rotate(45deg);
  }
  30% {
    transform: rotate(25deg);
    width: 65%;
    position: relative;
    padding: 1rem;
    margin-left: 3%;
    margin: 0 5%;
    transition: all 3s;
  }
  100% {
    transform: rotate(0);
    width: 65%;
    height: auto;
    position: relative;
    padding: 1rem;
    margin-left: 3%;
    box-shadow: 10px 10px 5px #FAF3E0;
  }
}

@keyframes rotateInSmall {
  0% {
    transform: rotate(-45deg);
    width: 85%;
    position: relative;
  }
  80% {
    transform: rotate(0);
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: none;
  }
  100% {
    transform: rotate(0);
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: none;
    padding: 1.25rem 0;
    border-top: 1px solid #FAF3E0;
    border-bottom: 1px solid #FAF3E0;
  }
}

@media only screen and (max-width: 1175px) {
  #about {
    flex-direction: column;
    margin: 0;
  }
  section {
    padding: 0 12%;
  }
}

/* Falling lines */

#falling-lines {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.line {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--hero-color);
  position: absolute;
  animation: fallingLines 6s infinite linear;
}

#line-1 {
  animation-delay: 0s;
  left: 10%;
}

#line-2 {
  animation-delay: 1s;
  left: 55%;
}

#line-3 {
  animation-delay: 2s;
  left: 65%;
}

#line-4 {
  animation-delay: 3s;
  left: 10%;
}

#line-5 {
  animation-delay: 4s;
  left: 30%;
}

#line-6 {
  animation-delay: 5s;
  left: 20%;
}

#line-7 {
  animation-delay: .25s;
  left: 40%;
}

#line-8 {
  animation-delay: 1.25s;
  left: 70%;
}

#line-9 {
  animation-delay: 2.25s;
  left: 50%;
}

#line-10 {
  animation-delay: 3.25s;
  left: 20%;
}

#line-11 {
  animation-delay: 4.25s;
  left: 60%;
}

#line-12 {
  animation-delay: .5s;
  left: 40%;
}

#line-13 {
  animation-delay: 1.5s;
  left: 95%;
}

#line-14 {
  animation-delay: 2.5s;
  left: 40%;
}

#line-15 {
  animation-delay: 3.5s;
  left: 75%;
}

#line-15 {
  animation-delay: 4.5s;
  left: 15%;
}

#line-16 {
  animation-delay: .75s;
  left: 95%;
}

#line-17 {
  animation-delay: 1.75s;
  left: 75%;
}

#line-18 {
  animation-delay: 2.75s;
  left: 10%;
}

#line-19 {
  animation-delay: 3.75s;
  left: 47%;
}

#line-20 {
  animation-delay: 4.75s;
  left: 15%;
}

#line-21 {
  animation-delay: .1s;
  left: 5%;
}

#line-22 {
  animation-delay: .8s;
  left: 60%;
}

#line-23 {
  animation-delay: 2.2s;
  left: 95%;
}

#line-24 {
  animation-delay: 3.7;
  left: 25%;
}

#line-25 {
  animation-delay: 4;
  left: 10%;
}

#line-26 {
  animation-delay: .5s;
  left: 35%;
}

#line-27 {
  animation-delay: 6s;
  left: 15%;
}

#line-28 {
  animation-delay: 7s;
  left: 82%;
}

#line-29 {
  animation-delay: 3.6s;
  left: 20%;
}

#line-30 {
  animation-delay: 4.2s;
  left: 5%;
}

@keyframes fallingLines {
  0% {
    top: 0;
    background-color: var(--hero-color);
  }
  15% {
    top: 25%;
    background-color: var(--primary-color);
  }
  50% {
    top: 50%;
    background-color: #FAF3E0;
  }
  75% {
    top: 75%;
    background-color: #FAF3E0;
  }
  100% {
    top: 100%;
    background-color: #FAF3E0;
  }
}

/* Projects section */

#projects {
  background: var(--sub-section-color);
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  text-align: center;
  z-index: 2;
  height: 100vh;
  border-radius: 5px 5px 0 0;
}

#projects-container {
  margin: 0;
  padding: 0;
}

#projects h2 {
  border-bottom: 10px solid #999;
  font-size: 2rem;
  color: #333;
}

#arrows {
  margin-bottom: .5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#arrows > i {
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all .5s;
  background-color: #1d1d1d;
  color: #FAF3E0;
  border-radius: 4px;
}

#arrows > i:hover {
  color: var(--highlight-color);
  transform: scale(1.05);
  background-color: #222;
}

#project-carousel {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#project-carousel > iframe {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#project-summary {
  text-align: left;
  margin: 0;
  padding: .5%;
  background-color: transparent;
}

#project-summary p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

#project-summary .button {
  font-size: 1rem;
  margin-right: .5rem;
  color: #FAF3E0;
  box-shadow: none;
}

#project-summary .button:hover {
  background-color: var(--hero-color);
  color: #FAF3E0;
  bottom: 3px;
}

/* Tech stack section */

#tech-stack {
  text-align: center;
}

#skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 5%;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

#skills-container  i {
  margin-right: 1%;
  text-align: center;
}

.tech-card {
  display: flex;
  align-items: center;
  gap: .2rem;
}

@media only screen and (max-width: 825px) {
  .button {
    font-size: 1rem;
  }
  section {
    padding: 0 4%;
  }
  nav {
    padding: .4rem 4%; 
  }
  #about h1 {
    font-size: 2.3rem !important;
  }
}

/* Skills animations */

.fa-html5 {
  animation: changeSkillColor 18s infinite;
}

.fa-css3-alt {
  animation: changeSkillColor 18s 3s infinite;
}

.fa-js {
  animation: changeSkillColor 18s 6s infinite;
}

.fa-git {
  animation: changeSkillColor 18s 9s infinite;
}

.github-animation {
  animation: changeSkillColor 18s 12s infinite;
}

.fa-figma {
  animation: changeSkillColor 18s 15s infinite;
}

@keyframes changeSkillColor {
  12% {
    color: var(--secondary-color);
  }
}

/* Contact form section */

#contact {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#contact form {
  padding-top: 2.5vh;
}

#contact label {
  display: block;
}

#contact input,
#contact textarea {
  padding: .75rem;
}

#contact input,
#contact label, 
#contact textarea {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.contact-button {
  font-size: 1.1rem;
  display: block;
}

/* Footer section */

footer {
  background: #000;
  padding: .08rem 0;
  opacity: .95;
  display: flex;
  justify-content: center;
}

footer a {
  animation: none;
  color: white;
}

footer li {
  list-style-type: none;
}

#footer-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

#footer-contact a:hover {
  color: var(--highlight-color);
}
