/*
* General setup 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  --header-font: "Roboto Condensed", Sans-Serif;
  --body-font: "Cabin", Sans-Serif;
  /* Dark Colors */
  --primary-color: #082032;
  --hero-color: #0f0e0e;
  /* Light Colors */
  --sub-section-color: #eeeeee;
  --sub-section-header-color: #faf3e0;
  --highlight-color: #d6a02b;
}

body {
  font-family: var(--body-font);
  background-color: var(--hero-color);
  color: var(--sub-section-header-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  color: var(--highlight-color);
}

h3 {
  margin-bottom: 0rem;
  border-bottom: 5px solid #999;
  color: var(--highlight-color);
  text-align: center;
}

.active {
  display: block !important;
}

.inactive {
  display: none !important;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

section {
  padding: 0 12%;
}

li {
  list-style-type: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0.65rem 1.4rem;
  margin: 0;
  text-decoration: none;
  background: var(--highlight-color);
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

/*
* Nav section 
*/

/* Desktop nav */

nav {
  align-items: center;
  background: var(--primary-color);
  padding: 2vh 12%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: 0.95;
}

#desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 2vh 12%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  opacity: 0.95;
}

nav a {
  text-decoration: none;
  color: #faf3e0;
  transition: color 1s;
}

nav a:hover {
  color: var(--highlight-color);
  border-bottom: 3px solid dodgerblue;
}

.nav-logo {
  font-family: var(--header-font);
  font-size: 1.3rem;
}

.nav-logo a:hover {
  text-transform: uppercase;
}

.nav-internal-links,
.nav-external-links {
  display: flex;
  gap: 1.25rem;
}

.nav-internal-links {
  justify-content: center;
}

.nav-external-links {
  justify-content: flex-end;
  width: calc(100% / 3);
}

/*
* Mobile nav 
*/

/* Ham Menu */

.hamburger-menu {
  display: none;
  background-color: transparent;
}

.hamburger-menu > div {
  width: 30px;
  height: 3px;
  background-color: var(--highlight-color);
  margin: 0.3rem 0;
}

/* Hamburger menu animation */

.ham-top-inactive {
  transition: all 1s;
  transform: translatey(0.40625rem);
}

.ham-bottom-inactive {
  transition: all 1s;
  transform: translatey(-0.40625rem);
}

/* Shows ham menu on screens 825px or smaller & hides desktop nav */

@media only screen and (max-width: 825px) {
  .hamburger-menu {
    display: block;
  }
  #desktop-nav {
    display: none;
  }
}

#nav-links-mobile {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background-color: salmon;
}

#nav-links-mobile a:hover {
  border-bottom: 3px solid var(--highlight-color);
}

#nav-links-mobile li {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}

/* 
* About section 
*/

#about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

#about-container {
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 1.5%;
  justify-content: center;
  font-size: 1.2rem;
  text-align: left;
  overflow: hidden;
  z-index: 2;
}

#about-card {
  display: flex;
  flex-flow: wrap;
  gap: 2%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-card-minimal {
  transform: scale(0.85);
  text-align: left;
}

#about-img > img {
  width: 20vw;
  height: 20vw;
  min-height: 150px;
  min-width: 150px;
  max-height: 175px;
  max-width: 175px;
  object-fit: cover;
  border-radius: 50%;
}

#about h1,
#about p {
  margin: 0;
}

#about h1 {
  font-size: 4rem;
  color: #f0a500;
}

#about-links {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 1rem;
  margin-bottom: 1%;
}

/* Button styling */

.button {
  cursor: pointer;
  text-decoration: none;
  color: #faf3e0;
  font-size: 1.25rem;
  background-color: var(--hero-color);
  border: 1px solid var(--highlight-color);
  opacity: 0.95;
  width: 7rem;
  padding: 0.25rem;
  box-shadow: 6px 6px 2px #faf3e0;
  transition: all 0.8s;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.reverse-button {
  box-shadow: -6px 6px 2px #faf3e0;
}

.button:hover {
  background: var(--highlight-color);
  box-shadow: 0 0 white;
  color: #0f0e0e;
}

.left:hover {
  top: 6px;
  left: 6px;
}

.right:hover {
  top: 6px;
  left: -6px;
}

#about-me-button-close {
  display: block;
  padding: 0 0.2rem !important;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}

#about-me-button-close:hover {
  background-color: var(--highlight-color);
  transform: scale(1.1);
}

/* About-me text section */

#about-text {
  display: flex;
  flex-direction: column;
  gap: 2%;
  background-color: var(--primary-color);
  opacity: 0.975;
  padding: 1rem;
}

#about-text > p {
  color: var(--highlight-color);
  font-weight: bold;
  margin-bottom: 3%;
  border-bottom: 1px solid #999;
  padding-bottom: 0.5rem;
  text-align: justify;
}

#about-lower-card {
  display: flex;
  gap: 2%;
}

#about-lower-card > * {
  width: 50%;
}

#about-lower-card i {
  color: var(--highlight-color);
  margin-top: 3%;
  margin-right: 2%;
}

#about-lower-card i:hover {
  color: #f0a500;
  transform: scale(1.05);
}

#about-lower-card ul {
  padding-left: 1.25rem;
  margin: 0;
}

@media only screen and (max-width: 1175px) {
  html {
    font-size: 0.97rem;
  }
}

@media only screen and (max-width: 520px) {
  html {
    font-size: 0.93rem;
  }
  #about-text-contact {
    display: none;
  }
  #about-lower-card > * {
    width: 100%;
  }
  #about-lower-card ul {
    padding-left: 1rem;
  }
}

.unhidden-large {
  animation: slideInLarge 0.5s linear forwards;
}

.unhidden-small {
  animation: slideInSmall 0.5s linear forwards;
}

/* Animations for about-text */

@keyframes slideInLarge {
  0% {
    position: relative;
    bottom: 100%;
  }
  100% {
    position: relative;
    bottom: 0;
  }
}

@keyframes slideInSmall {
  0% {
    position: relative;
    bottom: 100%;
  }
  100% {
    position: relative;
    bottom: 0;
  }
}

@media only screen and (max-width: 1175px) {
  #about {
    flex-direction: column;
    margin: 0;
  }
  section {
    padding: 0 12%;
  }
}

/* Falling stars animation */

#falling-stars {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 90%;
}

.star {
  height: 1px;
  width: 1px;
  background-color: var(--hero-color);
  position: absolute;
  animation: fallingStars 9s infinite linear;
}

#line-1 {
  animation-delay: 0.3s;
  left: 66%;
}

#line-2 {
  animation-delay: 1.1s;
  left: 55%;
}

#line-3 {
  animation-delay: 1.8s;
  left: 75%;
}

#line-4 {
  animation-delay: 2.7s;
  left: 86%;
}

#line-5 {
  animation-delay: 3.3s;
  left: 30%;
}

#line-6 {
  animation-delay: 5s;
  left: 29%;
}

#line-7 {
  animation-delay: 0.2s;
  left: 40%;
}

#line-8 {
  animation-delay: 1.1s;
  left: 70%;
}

#line-9 {
  animation-delay: 2.2s;
  left: 50%;
}

#line-10 {
  animation-delay: 3.09s;
  left: 92%;
}

#line-11 {
  animation-delay: 3.76s;
  left: 56%;
}

#line-12 {
  animation-delay: 0.2s;
  left: 32%;
}

#line-13 {
  animation-delay: 1.1s;
  left: 96%;
}

#line-14 {
  animation-delay: 2.75s;
  left: 33%;
}

#line-15 {
  animation-delay: 3.33s;
  left: 48%;
}

#line-15 {
  animation-delay: 4.9s;
  left: 12%;
}

#line-16 {
  animation-delay: 0.62s;
  left: 87%;
}

#line-17 {
  animation-delay: 1.9s;
  left: 66%;
}

#line-18 {
  animation-delay: 2.3s;
  left: 49%;
}

#line-19 {
  animation-delay: 3.65s;
  left: 44%;
}

#line-20 {
  animation-delay: 4.22s;
  left: 22%;
}

#line-21 {
  animation-delay: 0.18s;
  left: 9%;
}

#line-22 {
  animation-delay: 0.54s;
  left: 67%;
}

#line-23 {
  animation-delay: 2.26s;
  left: 94%;
}

#line-24 {
  animation-delay: 3.9;
  left: 18%;
}

#line-25 {
  animation-delay: 4;
  left: 62%;
}

#line-26 {
  animation-delay: 0.88s;
  left: 34%;
}

#line-27 {
  animation-delay: 5.9s;
  left: 55%;
}

#line-28 {
  animation-delay: 7.3s;
  left: 77%;
}

#line-29 {
  animation-delay: 6.2s;
  left: 17%;
}

#line-30 {
  animation-delay: 3.9s;
  left: 4%;
}

@keyframes fallingStars {
  0% {
    top: 10%;
    background-color: var(--primary-color);
  }
  10% {
    background-color: var(--primary-color);
  }
  20% {
    background-color: #faf3e0;
  }
  30% {
    background-color: var(--primary-color);
  }
  40% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: #faf3e0;
  }
  60% {
    background-color: #faf3e0;
  }
  70% {
    background-color: var(--primary-color);
  }
  80% {
    background-color: var(--hero-color);
  }
  90% {
    background-color: #faf3e0;
  }
  100% {
    top: 90%;
    background-color: var(--hero-color);
  }
}

/* Projects section */

#projects {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  background: var(--hero-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  text-align: center;
  z-index: 2;
  border-radius: 5px 5px 0 0;
}

#projects h2 {
  border-bottom: 5px solid #999;
  margin: 0;
  margin-bottom: 0.5%;
  font-size: 1.8rem;
}

#arrows {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 5%;
}

#arrows > i {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.5s;
  background-color: #1d1d1d;
  color: #faf3e0;
  border-radius: 4px;
}

#arrows > i:hover {
  color: var(--highlight-color);
  transform: scale(1.05);
  background-color: #222;
}

#project-carousel {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#project-carousel > iframe {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border-top: 10px solid #999;
  border-bottom: 10px solid #999;
  border-left: 2px solid #999;
  border-right: 2px solid #999;
}

#project-summary {
  text-align: left;
}

#project-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.project-button {
  font-size: 0.8rem;
}

/* Tech stack section */

#tech-stack {
  padding-top: 3rem;
  text-align: center;
}

#skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  gap: 5%;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

#skills-container i {
  margin-right: 1%;
  text-align: center;
}

.tech-card {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

@media only screen and (max-width: 825px) {
  .button {
    font-size: 1rem;
  }
  section {
    padding: 0 4%;
  }
  nav {
    padding: 0.4rem 4%;
  }
  #about h1 {
    font-size: 2.3rem !important;
  }
}

/* Skills animations */

.fa-html5 {
  animation: changeSkillColor 18s infinite;
}

.fa-css3-alt {
  animation: changeSkillColor 18s 3s infinite;
}

.fa-js {
  animation: changeSkillColor 18s 6s infinite;
}

.fa-git {
  animation: changeSkillColor 18s 9s infinite;
}

.github-animation {
  animation: changeSkillColor 18s 12s infinite;
}

.fa-figma {
  animation: changeSkillColor 18s 15s infinite;
}

@keyframes changeSkillColor {
  12% {
    color: var(--highlight-color);
  }
}

/* Contact form section */

#contact {
  padding-top: 3.75rem;
  padding-bottom: 2rem;
}

#contact form {
  max-width: 100%;
}

#contact legend {
  text-align: center;
  font-size: 1.4rem;
}

#contact fieldset {
  padding: 1rem;
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

#contact input,
#contact textarea {
  padding: 0.75rem;
}

#contact input,
#contact label,
#contact textarea {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 12px;
  display: block;
}

.contact-button {
  font-size: 1rem;
  display: block;
}

@media only screen and (min-width: 1175px) {
  #contact fieldset {
    width: 70%;
  }
}

/* Footer section */

footer {
  background: #000;
  padding: 0.08rem 0;
  opacity: 0.95;
  display: flex;
  justify-content: center;
}

footer a {
  animation: none;
  color: white;
}

footer li {
  list-style-type: none;
}

#footer-contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

#footer-contact a:hover {
  color: var(--highlight-color);
}
